<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="bower_components/angular/angular.min.js"></script>

    <script src="js/app.js"></script>
</head>
<body ng-controller="firstController">

    <!--body section -->
  Let's check ::    {{name}}



    <!--Section 2-->
    <div>
        <input type="text" ng-model="name">    {{name}}


        <button value="Click Me" ng-click="clickme();">CLICK ME</button>
    </div>


</body>
</html>